@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  width: 322px;
  height: 44px;
  border: 1px solid #d3d3d3;
  outline: none;
  border-radius: 24px;
  padding: 0px 10px;
  font-size: 14px;
}

textarea{
  padding: 5px 10px;
  border: 1px solid #d3d3d3;
  outline: none;
  border-radius: 8px;
}

.gridAlternative {
  max-width: 100%;
  width: 1549px;
  margin: 60px auto 0px;
  padding: 0 36px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  line-height: 55px;
}

p {
  font-size: 1.25em;
  color: #333333;
  line-height: 30px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section_container {
  padding: 20px 0px;
}

.container-dashboard {
  display: flex;
}

.gridProject {
  width: 1224px;
  max-width: 100%;
  padding: 0 36px;
  margin: 0 auto;
}

.button_acess {
  display: flex;
  padding: 10px 0px;
  width: 161px;
  max-width: 100%;
  color: #ffffff;
  background-color: #2364af;
  border-radius: 28px;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

header {
  height: 96px;
}

header .content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

header .content nav ul {
  display: flex;
}

header .content nav ul li a {
  padding: 15px 25px;
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

header .button_search_region {
  border: 1px solid #333333;
  border-radius: 24px;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  font-style: italic;
  cursor: pointer;
  gap: 40px;
}

header .mid_box {
  display: flex;
  margin-left: 211px;
  align-items: center;
  gap: 20px;
}

header .buttons {
  display: flex;
  gap: 20px;
}

.button_login,
.button_register {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 161px;
  background: #2364af;
  border-radius: 24px;
  padding: 12px 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  position: relative;
  gap: 14px;
}

header .button_login img,
.button_register img {
  margin-top: 2px;
}

header .border {
  border: 1px #333333 solid;
  height: 40px;
  margin-left: 40px;
  opacity: 0.8;
}

#home .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#home h1 {
  max-width: 558px;
}

#home p {
  max-width: 550px;
}

#campaigns .content {
  height: 370px;
}

#organizations h2 {
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  line-height: 55px;
  max-width: 450px;
}

#organizations .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#organizations .content p {
  font-size: 1.25em;
  color: #333333;
  max-width: 550px;
  line-height: 30px;
  font-weight: 400;
}

#form .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#form .paragraph_box {
  font-size: 1.25em;
  color: #333333;
  max-width: 550px;
  line-height: 30px;
  font-weight: 400;
}

#form .fields {
  display: flex;
  gap: 50px;
}

#form h2 {
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  line-height: 55px;
  text-align: center;
}

#form h3 {
  font-size: 2em;
  font-weight: 700;
  color: #333333;
  line-height: 55px;
}

#form .portal {
  color: #000000;
  font-weight: 300;
  font-size: 0.813em;
  padding-bottom: 20px;
}

#form textarea {
  height: 240px;
  resize: none;
  outline: none;
  padding: 20px;
}

#form .content_textArea {
  margin-top: 20px;
}

footer {
  background-color: #2364af;
}

footer .container_image img {
  margin: 0 auto;
}

@media (max-width: 1023px) {
  #home .content {
    flex-direction: column;
  }
  #home h1 {
    max-width: none;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #home p {
    max-width: none;
    line-height: 25px;
  }
  #organizations .content {
    flex-direction: column;
  }
  #organizations h2 {
    max-width: none;
    line-height: 40px;
    margin-bottom: 10px;
  }
  #form .box {
    flex-direction: column;
  }

  #form .fields {
    flex-direction: column;
    gap: 20px;
  }

  .button_acess {
    width: 100%;
  }
}
