.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container .content {
  padding: 0 36px;
  display: flex;
  gap: 40px;
  width: 1549px;
  align-items: center;
  max-width: 100%;
  justify-content: space-between;
}

.contentImg img {
  border-radius: 50px;
}

.container .content .containerForm {
  display: flex;
  align-items: center;
}

.contentForm h1 {
  text-align: center;
}

.contentForm p {
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 20px 0px;
}

.contentForm a {
  display: block;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.fields .field {
  margin: 0 auto;
}

.fields .fieldEmail {
  width: 100%;
}

.fieldEmail input {
  width: 100%;
}

.container .content .fields {
  display: flex;
  width: 664px;
  max-width: 100%;
  margin-bottom: 20px;
}

.fieldValidation {
  min-height: 24px;
  margin: 0;
  padding: 0;
  color: #fa0f00;
}


@media (max-width: 767px) {
  .contentForm{
    padding-bottom: 20px;
  }
  .content{
    flex-direction: column;
  }
  .content img{
    display: none;
  }
  .fields{
    flex-direction: column;
  }
  .fields .fieldEmail{
    width: 322px;
  }
}