/* Sidebar.module.css */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #ececec;
  box-shadow: inset 0px 11px 4px -10px rgba(0, 0, 0, 0);
  max-width: 100%;
  width: 300px;
  height: 100vh;
}

.content nav ul li {
  width: 80%;
}

.content nav ul li a {
  padding: 13px 15px 13px 10px;
  transition: 0.3s ease-in-out;
  width: 100%;
  display: block;
}

.content nav ul li a:hover {
  text-decoration: none;
  background-color: #f7f8fa;
}

.active {
  border-left: 5px solid #0047b6;
  color: #0047b6;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
